nuevoahorcado/Ahorcado.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:tns="urn:ECCI_Ahorcado"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			 name="ECCI_Ahorcado"
			 targetNamespace="urn:ECCI_Ahorcado">

	<!-- Tipos complejos -->

	<types>
		<xsd:schema targetNamespace="urn:ECCI_Ahorcado"/>
	</types>

	<!-- Mensajes para comunicarse con la clase Ahorcado. -->

	<message name="palabraEscondidaIn"/>

	<message name="palabraEscondidaOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="verificarLetraIn">
		<part name="nombre" type="xsd:string"/>
	</message>

	<message name="verificarLetraOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="getIntentosIn"/>

	<message name="getIntentosOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="verificarResultadoDeJuegoIn">
		<part name="nombre" type="xsd:string"/>
	</message>

	<message name="verificarResultadoDeJuegoOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="checkEmptyIn"/>

	<message name="checkEmptyOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="checkLetterIn"/>

	<message name="checkLetterOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="checkRepeatedIn"/>

	<message name="checkRepeatedOut">
		<part name="return" type="xsd:string"/>
	</message>
	
	<message name="getPalabraIn"/>

	<message name="getPalabraOut">
		<part name="return" type="xsd:string"/>
	</message>

	<!-- Puerto para comunicar con la clase Ahorcado, "ECCI_Ahorcado" -->

	<portType name="ECCI_AhorcadoPort">
		<operation name="palabraEscondida">
			<documentation>-</documentation>
			<input message="tns:palabraEscondidaIn"/>
			<output message="tns:palabraEscondidaOut"/>
		</operation>
		<operation name="verificarLetra">
			<documentation>-</documentation>
			<input message="tns:verificarLetraIn"/>
			<output message="tns:verificarLetraOut"/>
		</operation>
		<operation name="getIntentos">
			<documentation>-</documentation>
			<input message="tns:getIntentosIn"/>
			<output message="tns:getIntentosOut"/>
		</operation>
		<operation name="verificarResultadoDeJuego">
			<documentation>-</documentation>
			<input message="tns:verificarResultadoDeJuegoIn"/>
			<output message="tns:verificarResultadoDeJuegoOut"/>
		</operation>
		<operation name="checkEmpty">
			<documentation>-</documentation>
			<input message="tns:checkEmptyIn"/>
			<output message="tns:checkEmptyOut"/>
		</operation>
		<operation name="checkLetter">
			<documentation>-</documentation>
			<input message="tns:checkLetterIn"/>
			<output message="tns:checkLetterOut"/>
		</operation>
		<operation name="checkRepeated">
			<documentation>-</documentation>
			<input message="tns:checkRepeatedIn"/>
			<output message="tns:checkRepeatedOut"/>
		</operation>
		<operation name="getPalabra">
			<documentation>-</documentation>
			<input message="tns:getPalabraIn"/>
			<output message="tns:getPalabraOut"/>
		</operation>
	</portType>

	<!-- Vinculación de los llamados con el transporte - RPC, SOAP/Encoded over HTTP -->

	<binding name="ECCI_AhorcadoBinding" type="tns:ECCI_AhorcadoPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="palabraEscondida">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#palabraEscondida"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
		<operation name="verificarLetra">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#verificarLetra"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
		<operation name="getIntentos">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getIntentos"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
			
		<operation name="verificarResultadoDeJuego">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#verificarResultadoDeJuego"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
			
		<operation name="checkEmpty">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#checkEmpty"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
			
		<operation name="checkLetter">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#checkLetter"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
			
		<operation name="checkRepeated">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#checkRepeated"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
			
		<operation name="getPalabra">
			<soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getPalabra"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:ECCI_Ahorcado"/>
			</output>
		</operation>
		
	</binding>

	<!-- Punto de comunicación con la clase Ahorcado -->

	<service name="ECCI_AhorcadoService">
		<port name="ECCI_AhorcadoPort" binding="tns:ECCI_AhorcadoBinding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr:80/~eb41188/Ahorcado/?wsdl"/>
		</port>
	</service>
</definitions>
